/*text label*/
span.text-label {
    font-size: 14px;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
}

span.text-label.sale {
    background: #fabc3c;
}

span.text-label.hot {
    background: #f02200;
}

span.text-label.new {
    background: #73eef5;
}

/*sale size label*/
ul.sale-size {
    list-style: none;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

ul.sale-size > li {
    width: 30px;
    height: 30px;
    background: #ddd;
    margin: 3px;
    float: left;
}

ul.sale-size > li > a {
    color: black;
    text-decoration: none;
    margin: 0 auto;
    line-height: 30px;
}

ul.sale-size > li.active {
    background: #73eef5;
    box-shadow: 1px 1px 5px gray;
}

ul.sale-size > li.active > a {
    color: white;
}


/*progress*/
.progress-bar {
    width:      300px;
    height:     5px;
    background: #ddd;
    position: relative;
}

.progress-bar:before {
    content: ' ';
    height: 5px;
    width: 30px;
    background: #73EEF5;
    position: absolute;
}

.progress-bar:after {
    content: ' ';
    height: 17px;
    width: 17px;
    background: #73EEF5;
    position: absolute;
    border-radius: 50%;
    left: 32px;
    top: -6px;
    box-shadow: 1px 1px 5px; 
}

/*timing progress*/
.timing-progress {
    position: relative;
    width: 300px;
}

.timing-progress > .progress-bar:before, .timing-progress > .progress-bar:after {
    background: #F02200;
}

.timing-progress:before {
    content: '0:23';
    color: #F02200;
    position: absolute;
    bottom: 5px;
}

.timing-progress:after {
    content: '2:54';
    color: #515151;
    position: absolute;
    bottom: 5px;
    right: 0px;
}

/*redefined form input*/
input.colorfull-ui {
    -webkit-appearance: none;
}

input[type='radio'].colorfull-ui:not(.single-checkbox) {
    position: relative;
    width: 14px;
    height: 14px;
}

input[type='radio'].colorfull-ui:not(.single-checkbox)::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    top: 2.5px;
    left: 2.5px;
    background: #73eef5; 
    border-radius: 50%;
    z-index: 1000;
}

input[type='radio'].colorfull-ui:not(.single-checkbox):after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    background: white;
    border-radius: 50%;
    box-shadow: 1px 1px 5px;
}

/*checked*/
input.colorfull-ui.checked {
    -webkit-appearance: none;
}

input[type='radio'].colorfull-ui.checked {
    position: relative;
    width: 14px;
    height: 14px;
}

input[type='radio'].colorfull-ui.checked:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    top: 2.5px;
    left: 2.5px;
    background: #5a6bd4; 
    border-radius: 50%;
    z-index: 1000;
}

input[type='radio'].colorfull-ui.checked:after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    background: #73eef5;
    border-radius: 50%;
    box-shadow: 1px 1px 5px;
}

/*input checkbox*/
input[type='checkbox'].colorfull-ui:not(.single-checkbox) {
    width: 41px;
    height: 24px;
    border: 1px solid #dfdfdf;
    background: #dfdfdf;
    border-radius: 16px;
}

input[type='checkbox'].colorfull-ui:not(.single-checkbox)::before {
    content: '';
    width: 39px;
    height: 22px;
    background: #fdfdfd;
    position: absolute;
    border-radius: 15px;
    -webkit-transition: -webkit-transform 0.3s;
}

input[type='checkbox'].colorfull-ui:not(.single-checkbox)::after {
    content: " ";
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 15px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.4 ); 
    -webkit-transition: -webkit-transform 0.3s;
}

input[type='checkbox'].colorfull-ui:not(.single-checkbox):checked {
    background-color: #04be02; 
    border-color: #04be02;
}

input[type='checkbox'].colorfull-ui:not(.single-checkbox):checked:after {
    -webkit-transform: translateX(17px);
}

input[type='checkbox'].colorfull-ui:not(.single-checkbox):checked:before {
    -webkit-transform: scale(0);
}

/*email*/
input[type='email'].colorfull-ui.email {
    width: 200px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #ddd;
    padding-left: 7px;
}

input[type='email'].colorfull-ui.email.valid {
    border: 2px solid #73eef5; 
}

/*input number*/
input.colorfull-ui.number {
    position: relative;
    width: 200px;
    height: 30px;
    border: 1px solid #DDD;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
}

input.colorfull-ui.number::before {
    content: '+';
    font-size: 14px;
    color: black;
    position: absolute;
}

input.colorfull-ui.number::after {
    content: '+';
    font-size: 14px;
    color: black;
    position: absolute;
}

/*input single checkbox*/
input[type='radio'].colorfull-ui.single-checkbox {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
}

input[type='radio'].colorfull-ui.single-checkbox::before {
    content: '\f096';
    color: #ddd;
}

input[type='radio'].colorfull-ui.single-checkbox:checked::before {
    content: '\f046';
    color: white;
    background: #73eef5;
}

input[type='checkbox'].colorfull-ui.single-checkbox {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
}

input[type='checkbox'].colorfull-ui.single-checkbox::before {
    content: '\f096';
    color: #ddd;
}

input[type='checkbox'].colorfull-ui.single-checkbox:checked::before {
    content: '\f046';
    color: white;
    background: #73eef5;
}


/*select*/
select.colorfull-ui {
    width: 200px;
    height: 30px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
}

/*base tags*/
span.tag {
    margin-left: 7px;
    margin-right: 7px;
}

/*tag free*/
span.tag.tag-free {
    font-size: 14px;
    color: black;
    position: relative;
}

span.tag.tag-free > .icon.icon-circle {
    position: relative;
    width: 14px;
    height: 14px;
    margin-right: 21px;
}

span.tag.tag-free > .icon.icon-circle::before {
    content: ' ';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    border: 1px solid #ddd;
}

span.tag.tag-free > .icon.icon-circle::after {
    content: ' ';
    position: absolute;
    width: 6px;
    height: 6px;
    left: 5px;
    top: 2.5px;
    border-radius: 50%;
    background: #73eef5;
}

/*tag dollar*/
span.tag.tag-dollar {
    font-size: 14px;
    color: black;
    position: relative;
}

span.tag.tag-dollar > .icon.icon-circle {
    position: relative;
    width: 14px;
    height: 14px;
    margin-right: 21px;
}

span.tag.tag-dollar > .icon.icon-circle::before {
    content: ' ';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    border: 1px solid #ddd;
}


/*tag like*/
span.tag.tag-like > .icon.icon-like {
    margin-right: 2px;
}

/*tag star*/
span.tag.tag-stars > .icon.icon-star {
    margin-left: 3px;
    margin-right: 3px;
}

/*tag calendar*/
span.tag.tag-calendar {
    color: #73eef5;
}

/*tag done*/
span.tag.tag-done {
    color: #73eef5;
    font-size: 17px;
    border-bottom: 3px solid #73eef5;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;
}

/*tag cart*/
span.tag.tag-cart, span.tag.tag-checkout, span.tag.tag-shipping{
    position: relative;
}

span.tag.tag-cart::after,  span.tag.tag-checkout::after, span.tag.tag-shipping::after{
    content: ' ';
    position: absolute;
    width: 200px;
    height: 3px;
    background: #ddd;
    top: 50%;
    margin-top: -1.5px;
    margin-left: 7px;
}

/*social social-twitter*/
span.social {
    width: 35px;
    height: 35px;
    color: white;
    background: #ddd;
    margin: 7px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
}

span.social.social-twitter {
}

span.social.social-facebook {
}

span.social.social-google {
}

/*media media-circle-play*/
button.media.media-circle-play {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
    border: none;
    background: #5A6bD4;
    box-shadow: 1px 1px 5px;
}

button.media.media-circle-play > i.icon {
    font-size: 17px;
    color: white;
}

/*media media-circle-pause*/
button.media.media-circle-pause {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #73eef5;
    display: table-cell;
    vertical-align: middle;
    border: none;
    box-shadow: 1px 1px 5px;
}

button.media.media-circle-pause > i.icon {
    font-size: 17px;
    color: white;
}

/*media media-square-play*/
button.media.media-square-play {
    width: 60px;
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    border: none;
    background: #5A6bD4;
    box-shadow: 1px 1px 5px;
}

button.media.media-square-play > i.icon {
    font-size: 17px;
    color: white;
}

/*btn*/
.btn {
    line-height: 25px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px;
}

.btn > span.icon {
    margin-right: 3px;
    margin-left: 3px;
}

.btn-primary {
    color: white;
    background: #5A6BD4;
}

.btn-default {
    border: 1px solid #DDD;
    background: white;
}

.btn-default:hover{
    background: #F8F8F8;
}

.btn-info {
    color: white;
    background: #73EEF5;
}
/*btn-group*/
.btn-group > .btn{
    margin-left: 0px;
    margin-right: 0px;
}

.btn-group > .btn {
    border-radius: 0px;
    float: left;
}

.btn-group > .btn:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0px;
}

.btn-group > .btn:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #ddd;
}

.btn-group:after {
    content: ' ';
    clear: both;
}
