/*text label*/
span.text-label {
    font-size: 14px;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
}

span.text-label.sale {
    background: #fabc3c;
}

span.text-label.hot {
    background: #f02200;
}

span.text-label.new {
    background: #73eef5;
}

/*sale size label*/
ul.sale-size {
    list-style: none;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

ul.sale-size > li {
    width: 30px;
    height: 30px;
    background: #ddd;
    margin: 3px;
    float: left;
}

ul.sale-size > li > a {
    color: black;
    text-decoration: none;
    margin: 0 auto;
    line-height: 30px;
}

ul.sale-size > li.active {
    background: #73eef5;
    box-shadow: 1px 1px 5px gray;
}

ul.sale-size > li.active > a {
    color: white;
}

ul.ellipsis > li {
    color: #DDD;
    float: left;
    margin-left: 7px;
}

/*justify-bar*/
.justify-bar {
    width:      300px;
    height:     5px;
    background: #ddd;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.justify-bar:before {
    content: ' ';
    height: 17px;
    width: 17px;
    background: #73EEF5;
    position: absolute;
    border-radius: 50%;
    left: 32px;
    top: -6px;
    box-shadow: 1px 1px 5px; 
}

.justify-bar:after {
    content: ' ';
    height: 17px;
    width: 17px;
    background: #73EEF5;
    position: absolute;
    border-radius: 50%;
    left: 248px;
    top: -6px;
    box-shadow: 1px 1px 5px; 
}


/*progress*/
.progress-bar {
    width:      300px;
    height:     5px;
    background: #ddd;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.progress-bar:before {
    content: ' ';
    height: 5px;
    width: 30px;
    background: #73EEF5;
    position: absolute;
}

.progress-bar:after {
    content: ' ';
    height: 17px;
    width: 17px;
    background: #73EEF5;
    position: absolute;
    border-radius: 50%;
    left: 32px;
    top: -6px;
    box-shadow: 1px 1px 5px; 
}

/*timing progress*/
.timing-progress {
    position: relative;
    width: 300px;
}

.timing-progress > .progress-bar:before, .timing-progress > .progress-bar:after {
    background: #F02200;
}

.timing-progress:before {
    content: '0:23';
    color: #F02200;
    position: absolute;
    bottom: 5px;
}

.timing-progress:after {
    content: '2:54';
    color: #515151;
    position: absolute;
    bottom: 5px;
    right: 0px;
}

/*redefined form input*/
input.colorfull-ui {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type='text'].colorfull-ui {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding-left: 7px;
}

input[type='radio'].colorfull-ui:not(.single-checkbox) {
    position: relative;
    width: 14px;
    height: 14px;
    border: 4px solid #F8F8F8;
    padding: 1px;
    background: #73eef5;
    box-shadow: 0.5px 0.5px 1px #ddd;
    border-radius: 50%;
}

input[type='radio'].colorfull-ui:not(.single-checkbox).checked {
    position: relative;
    width: 14px;
    height: 14px;
    border: 4px solid #73eef5;
    background: #5A6BD4;
}

/*checked*/
input.colorfull-ui.checked {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/*input checkbox*/
.form-control.checkbox {
    position: relative;
}

.form-control.checkbox > input[type='checkbox']{
    width: 51px;
    height: 24px;
    border: 1px solid #dfdfdf;
    background: #ddd;
    border-radius: 16px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.form-control.checkbox > .icon {
    width: 14px;
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    position: absolute;
    border: 0px;
    padding: 0px;
    margin: 0px;
    color: #ddd;
    box-shadow: 0.5px 0.5px 1px #ddd;
}

/* input[type='checkbox'].colorfull-ui:not(.single-checkbox) {
    width: 41px;
    height: 24px;
    border: 1px solid #dfdfdf;
    background: #dfdfdf;
    border-radius: 16px;
} */

.form-control.checkbox > .icon.circle {
    right: 5px;
    top: 5px;
    color: white;
}

.form-control.checkbox > .icon.check {
    left: 5px;
    top: 5px;
    color: white;
}

.form-control.checkbox.checked > input[type='checkbox'] {
    background: #73eef5;
}

.form-control.checkbox.checked > .icon.close {
    right: 5px;
    top: 5px;
    color: white;
}

.form-control.checkbox.checked > .icon.circle {
    left: 5px;
    top: 5px;
    color: white;
}

/*.form-control.checkbox > input[type='checkbox']:checked + .from-control.checkbox > .icon {
    background: #ddd;
}*/


/*input[type='checkbox'].colorfull-ui:not(.single-checkbox)::before {
    content: '';
    width: 39px;
    height: 22px;
    background: #fdfdfd;
    position: absolute;
    border-radius: 15px;
    -webkit-transition: -webkit-transform 0.3s;
}

input[type='checkbox'].colorfull-ui:not(.single-checkbox)::after {
    content: " ";
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 15px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.4 ); 
    -webkit-transition: -webkit-transform 0.3s;
}*/

/*input[type='checkbox'].colorfull-ui:not(.single-checkbox):checked {
    background-color: #04be02; 
    border-color: #04be02;
}

input[type='checkbox'].colorfull-ui:not(.single-checkbox):checked:after {
    -webkit-transform: translateX(17px);
}

input[type='checkbox'].colorfull-ui:not(.single-checkbox):checked:before {
    -webkit-transform: scale(0);
}*/

/*email*/
input[type='email'].colorfull-ui.email {
    width: 300px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #ddd;
    padding-left: 10px;
}

input[type='email'].colorfull-ui.email.valid {
    border: 2px solid #73eef5; 
}

/*input number*/
.input-group > input.colorfull-ui.number {
    width: 80px;
    height: 30px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-left: 0px;
    border-right: 0px;
    text-align: center;
    font-size: 16px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.input-group > span.number-plus {
    color: black;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 0px;
    border-right: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding-right: 7px;
}

.input-group > span.number-minus {
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
    border-left: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding-left: 7px;
}

/*input visa*/

.input-group.visa > input.colorfull-ui {
    width: 200px;
    height: 30px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 0px;
    font-size: 16px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.input-group.visa > span.icon {
    min-width: 50px;
    color: black;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0px;
}

/*input single checkbox*/
input[type='radio'].colorfull-ui.single-checkbox:not(checked) {
    width: 14px;
    height: 14px;
    background: #ddd;
    border: 0px;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
}

input[type='radio'].colorfull-ui.single-checkbox:checked {
    background: black;
}

input[type='checkbox'].colorfull-ui.single-checkbox:not(checked) {
    width: 14px;
    height: 14px;
    background: #ddd;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

input[type='checkbox'].colorfull-ui.single-checkbox:checked {
    background: black;
}

/*submit*/
input[type='submit'].colorfull-ui {
    width:300px;
    height: 40px;
    background: #5A6BD4;
    border: 0px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}

input[type='submit'].info.colorfull-ui {
    width:300px;
    height: 40px;
    background: #73EEF5;
    border: 0px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}

/*select*/
.form-control.select {
    position: relative;
}

.form-control.select > .icon.chevron-down {
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 0px;
    margin: 0px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    top: 10.5px;
    right: 5px;
}

.form-control.select > select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    min-width: 85px;
    height: 35px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
    padding-left: 7px;
    padding-right: 14px;
}


.form-control.select > select.big.colorfull-ui {
    width: 200px;
    height: 35px;
}

/*input-group*/
.input-group {
    display: inline-table;
}

.input-group > .icon {
    width: 30px;
    display: table-cell;
    border-top-right-radius:5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}

.input-group > .icon.primary {
    border: 0px;
}

.input-group > .icon.big.primary {
    width: 60px;
    color: white;
    background: #5A6BD4;
}


.input-group > input.colorfull-ui {
    display: table-cell;
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-group > input[type='text'].info.colorfull-ui {
    text-align: center;
    vertical-align: middle;
}

.input-group > p.colorfull-ui.info {
    display: table-cell;
    height: 35px;
    min-width: 200px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #DDD;
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0px;
    box-shadow: 0.5px 0.5px 1px #DDD;
}

/*base tags*/
span.tag {
    margin-left: 7px;
    margin-right: 7px;
}

/*tag text*/
span.tag.tag-text {
    position: relative;
}

span.tag.tag-text > .icon.info {
    color: #73eef5;
}

/*tag icon*/
span.tag.tag-icon.info {
    color: #5A6BD4;
}

span.tag.tag-icon.primary {
    color: #73EEF5;
}

/*tag free*/
span.tag.tag-free {
    font-size: 14px;
    color: black;
    position: relative;
}

span.tag.tag-free > .icon.icon-circle {
    position: relative;
    width: 14px;
    height: 14px;
    margin-right: 21px;
}

span.tag.tag-free > .icon.icon-circle::before {
    content: ' ';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    border: 1px solid #ddd;
}

span.tag.tag-free > .icon.icon-circle::after {
    content: ' ';
    position: absolute;
    width: 6px;
    height: 6px;
    left: 5px;
    top: 2.5px;
    border-radius: 50%;
    background: #73eef5;
}

/*tag dollar*/
span.tag.tag-dollar {
    font-size: 14px;
    color: black;
    position: relative;
}

span.tag.tag-dollar > .icon.icon-circle {
    position: relative;
    width: 14px;
    height: 14px;
    margin-right: 21px;
}

span.tag.tag-dollar > .icon.icon-circle::before {
    content: ' ';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    border: 1px solid #ddd;
}


/*tag like*/
span.tag.tag-like > .icon.icon-like {
    margin-right: 2px;
}

/*tag star*/
span.tag.tag-stars > .icon.icon-star {
    margin-left: 3px;
    margin-right: 3px;
    color: #ddd;
}

span.tag.tag-stars > .icon.icon-star.active {
    margin-left: 3px;
    margin-right: 3px;
    color: #ddd;
    color: #FABC3C;
}

/*tag calendar*/
span.tag.tag-calendar {
    color: #73eef5;
}

/*tag done*/
span.tag.tag-done {
    color: #73eef5;
    font-size: 17px;
    border-bottom: 3px solid #73eef5;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;
}


/*tag time*/
div.time {
    display: inline-block;
    height: 30px;
    min-width: 60px;
    line-height: 30px;
    color: white;
    background: #515151;
    border-radius: 5px;
    font-style: normal;
    text-align: center;
}

/*other tag*/
span.tag.tag-anchor {
    color: #73eef5;
}

span.tag.tag-anchor > i.icon { 
    font-size: 20px;
}

span.tag.tag-normal > i.icon { 
    font-size: 20px;
}

span.tag.tag-attach-file {
    color: #73eef5;
}


/*tag with divider*/
.tag-with-divider {
    display: inline-block;
    position:  relative;
}

.tag-with-divider > .divider {
    display: inline-block;
    width: 200px;
    height: 3px;
    background: #ddd;
    position: relative;
    vertical-align: middle;
}


/*social social-twitter*/
span.social {
    width: 35px;
    height: 35px;
    color: white;
    background: #ddd;
    margin: 7px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
}

span.social.social-twitter {
}

span.social.social-facebook {
}

span.social.social-google {
}

/*media media-circle-play*/
button.media.media-circle-play {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
    border: none;
    background: #5A6bD4;
    box-shadow: 1px 1px 5px;
}

button.media.media-circle-play > i.icon {
    font-size: 17px;
    color: white;
}

/*media media-circle-pause*/
button.media.media-circle-pause {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #73eef5;
    display: table-cell;
    vertical-align: middle;
    border: none;
    box-shadow: 1px 1px 5px;
}

button.media.media-circle-pause > i.icon {
    font-size: 17px;
    color: white;
}

/*media media-square-play*/
button.media.media-square-play {
    width: 60px;
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    border: none;
    background: #5A6bD4;
    box-shadow: 1px 1px 5px;
}

button.media.media-square-play > i.icon {
    font-size: 17px;
    color: white;
}

/*btn*/
.btn {
    line-height: 25px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px;
    background: #DDD;
}

.btn > span.icon {
    margin-right: 3px;
    margin-left: 3px;
}

.btn-primary {
    color: white;
    background: #5A6BD4;
}

.btn-default {
    border: 1px solid #DDD;
    background: white;
}

.btn-default:hover{
    background: #F8F8F8;
}

.btn-info {
    color: white;
    background: #73EEF5;
}
/*btn-group*/
.btn-group {
    display: inline-block;
    position: relative;
}

.btn-group > .btn{
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
    float: left;
    position: relative;
}

.btn-group > .btn:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0px;
}

.btn-group > .btn:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #ddd;
}



/*status*/
.login-status {
    display: inline-block;
    min-width: 100px;
    height: 40px;
    border-radius: 20px;
    background: #73EEF5;
    line-height: 40px;
    text-align: center;
    color: white;
    position: relative;
}

.login-status > span.icon {
    position: absolute;
    left: 10px;
}

.login-status > span.user {
    margin-left: 7px;
}

.login-status.inactive {
    background: white;
    color: #ddd;
    border: 1px solid #ddd;
}

.login-status.active {
    background: #73EEF5;
    color: white;
}

.share-status {
    display: inline-block;
    min-width: 60px;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    padding-bottom:5px;
    padding-left: 5px;
    padding-right:5px;
}

.share-status > .icon {
    margin-right: 15px;
}

.share-status.info {
    color: white;
    background: #73EEF5;
}

.share-status.primary {
    color: white;
    background: #5A6BD4;
}

/*menu th*/
ul.th {
    list-style: none;
    padding: 0px;
}

ul.th.th-3 > li {
    width: 15px;
    height: 3px;
    background: #ddd;
    margin: 3px;
    padding: 0px;
}


ul.th.th-9 {
    width: 27px;
}

ul.th.th-9 > li {
    width: 5px;
    height: 3px;
    background: #ddd;
    margin: 1px;
    padding: 0px;
    border-radius: 2px;
    float: left;
}
