.container {
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 1px black;
}

.container > .row {
    margin-top: 7px;
}

.container > .row > .element {
    display: inline-block;
    margin: 7px 7px;
}

.container > .row > .element:first-child {
    margin-left: 15px;
}

.container > .row > .element:last-child {
    margin-right: 15px;
}
